body{
  font-family: 'Bitter', 'serif';
  background-color: #1B2631;
  color: #95A5A6;
}
div.common h1 {
  text-align: center;
  padding-bottom: 30px;
  padding-top: 30px;
}
/*p {
  color: #EBDEF0;
  font-size: 50px;
  font-family: 'helvetica'
}
  h1 {
    font-size: 50px;
    font-family: 'helvetica'

  }
img {
  width:500px;
  height: auto;
  display: block;
}
a {color: #EBDEF0;}
.common {
    background-color: #EBDEF0;
    width: 50%auto;margin: auto;
    text-align: center;
}
.special {
    background-color: #EAF2F8;
}
#onelist {
  color: black;
}

h1 {
  -webkit-animation-name: blinker;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: ease-in;
  -webkit-animation-duration: 0.2s;
}*/
